:root {
    --color-primary: hsl(200, 50%, 90%);
    --color-secondary: hsl(200, 50%, 10%);
    --color-accent: hsl(260, 80%, 20%);
    --color-tertiary: hsl(140, 80%, 20%);
}
.dark {
    --color-primary: hsl(200, 50%, 10%);
    --color-secondary: hsl(200, 50%, 90%);
    --color-accent: hsl(260, 80%, 80%);
    --color-tertiary: hsl(140, 80%, 80%);
}


body {
    font-family: "Zilla Slab", serif;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    height: 100%;
}

/* Global */

/* Ensure the button is positioned at the top-right corner */
.dark-mode-toggle {
    background: var(--color-accent);
    width: 2em; /* Set the width of the circle */
    height: 2em; /* Set the height to be equal to width */
    border-radius: 50%; /* Makes it a perfect circle */
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center; /* Centers SVG horizontally */
    align-items: center; /* Centers SVG vertically */
    z-index: 1000; /* Ensure the button stays above other content */

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}


/* Center the SVG inside the button */
.darkModeSVG {
    width: 1.5em; /* Adjust size */
    filter: invert(1) brightness(100%);
    height: auto;
    object-fit: contain;
}

body.dark .darkModeSVG {
    filter: invert(0); /* Invert color for dark mode */
}



.bold-text{
    font-weight: 900;
}


/* Remove number input spinner in all browsers */
.input-no-spinner::-webkit-inner-spin-button,
.input-no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-no-spinner {
    -moz-appearance: textfield; /* Hide arrows in Firefox */
    appearance: textfield; /* Hide arrows in Chrome */
}


/* Buttons */
/* Style for disabled answer buttons */
button.disabled-answer {
    pointer-events: none; /* Disable interaction (no click) */
    opacity: 1; /* Keep the original opacity (not greyed out) */
}


.answer-button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background 0.3s ease, border 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}
.list-group-item {
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

/* Timer */

.showSVG, .hideSVG {
    height: auto;
    width: 2.5em;
    color: var(--tertiary-color);
}

.badge{
    background-color: var(--color-accent);
}

#timer-controls, .grileselect, #materie-filter {
    border: 0.2em solid var(--color-tertiary);
    padding: 1em;
    border-radius: 1em;
}

#timer-display {
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}

#time-up-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}

#time-up-popup button {
    margin: 10px;
}

#countdown-settings {
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#countdown-minutes, #question-count{
    max-width: 3em;
}



/* Headings styling */

h1, h2, h3 {
    font-weight: 700;
}


li{
    background-color: #cfcfcf3f;
    border-radius: 4px;
}
hr{
    border: 2px solid #000000;
    border-radius: 2px;
}


/* Start screen */

.toast{
    width: 90%;
}
#disclaimer{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}
.titlestartscreen{
    color: var(--color-accent);
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}
.grileselecttext, .filtrutitlu {
    color: var(--color-accent);
    font-weight: 600;
}

.lawimage{
    max-width: 10em;
    height: auto;
}

/* Quiz screen */
#question-counter{
    text-shadow: 2px 2px 4px #a77f95;
    margin-bottom: 0px;
    font-size: 1em;
}

.selected {
    background-color: lightblue;
    font-weight: bold;
}
.bold-text {
    font-weight: bold;
}
.correct-border {
    border: 3px solid green !important;
    border-radius: 4px;
}
.incorrect {
    border: 3px solid rgb(128, 0, 0) !important;
    border-radius: 4px;

}

.form-control{
    width: 100px;
}

/* Summary screen */

#quiz-summary ul {
    list-style-type: none;
    padding-left: 0;
}
#summary-container {
    margin-top: 2em;
    
}

#quiz-summary li {
    list-style-type: none; /* Remove the marker */
    margin: 0.5em;
}
.summary-item {
    text-align: left; /* Align text to the left */
    margin-left: 20px; /* Optional: Adds space on the left if needed */
}

.result-title {
    font-size: 2.5em;
    font-weight: 600;
}
.gifpisica{
    border-radius: 4px;
}
.accordion-item{
    background-color: #f1f1f100;
    border: #00000000;
}
.accordion-button{
    background-color: #c3bd7a;
    font-weight: 600;
   
}
.accordion-button:not(.collapsed){
    background-color: #c3bd7a;
}
.accordion-body{
    background-color: #c3bd7a7d;
}










