:root{
    --primary-color: #9da4f1;
    --secondary-color: #6e20b1;
    --tertiary-color: #552a30;
    --accent-color: #455f16;
}


body {
    font-family: "Zilla Slab", serif;
    text-align: center;
    background-color: var(--primary-color);
}

/* Global */

.bold-text{
    font-weight: 900;
}

/* Buttons */
button {
    background-color: var(--secondary-color);
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.answer-button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background 0.3s ease, border 0.3s ease;
}

button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}
.list-group-item {
    text-align: left;
}

/* Headings styling */

h1 {
    font-weight: 700;
}
h2 {
    font-weight: 500;
}
h3{
    font-weight: 600;
}

/*  */

li{
    background-color: #cfcfcf3f;
    border-radius: 4px;
}
hr{
    border: 2px solid #000000;
    border-radius: 2px;
}


/* Start screen */

.toast{
    width: 90%;
}
.grileselecttext{
    font-weight: 600;
}
.filtrutitlu{
    font-weight: 600;
}
.lawimage{
    max-width: 200px;
    height: auto;
}
.disclaimer{
    top: 10vw;
}

/* Quiz screen */
#question-counter{
    text-shadow: 2px 2px 4px #a77f95;
}

.selected {
    background-color: lightblue;
    font-weight: bold;
}
.bold-text {
    font-weight: bold;
}
.correct-border {
    border: 3px solid green !important;
    border-radius: 4px;
}
.incorrect {
    border: 3px solid rgb(128, 0, 0) !important;
    border-radius: 4px;

}

/* Summary screen */

#quiz-summary ul {
    list-style-type: none;
    padding-left: 0;
}
#summary-container {
    margin-top: 2em;
    
}

#quiz-summary li {
    list-style-type: none; /* Remove the marker */
    margin: 0.5em;
}
.summary-item {
    text-align: left; /* Align text to the left */
    margin-left: 20px; /* Optional: Adds space on the left if needed */
}

.result-title {
    font-size: 2.5em;
    font-weight: 600;
}
.gifpisica{
    border-radius: 4px;
}
.accordion-item{
    background-color: #f1f1f100;
    border: #00000000;
}
.accordion-button{
    background-color: #c3bd7a;
    font-weight: 600;
   
}
.accordion-button:not(.collapsed){
    background-color: #c3bd7a;
}
.accordion-body{
    background-color: #c3bd7a7d;
}









