body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#answers-container {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    max-width: 300px;
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.answer-button {
    background-color: white;
    border: 1px solid #ccc;
    transition: background 0.3s ease;
}

.selected {
    background-color: lightblue; /* Initially selected */
}

.selected-emphasized {
    border: rgb(99, 176, 224) 10px solid; /* Selected after user has answered */
    border-radius: 8px;
}

.correct {
    background-color: lightgreen; /* Correct answers */
}

.incorrect {
    background-color: lightcoral; /* Incorrect answers */
}

#summary-screen ul {
    text-align: left;
    max-width: 600px;
    margin: auto;
}
