:root {
    --color-primary: hsl(200, 50%, 90%);
    --color-secondary: hsl(200, 50%, 10%);
    --color-accent: hsl(260, 80%, 20%);
    --color-tertiary: hsl(140, 80%, 20%);
}
.dark {
    --color-primary: hsl(200, 50%, 10%);
    --color-secondary: hsl(200, 50%, 90%);
    --color-accent: hsl(260, 80%, 80%);
    --color-tertiary: hsl(140, 80%, 80%);
}


body {
    font-family: "Zilla Slab", serif;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    height: 100%;
}

/* Global */

/* Ensure the button is positioned at the top-right corner */
.dark-mode-toggle {
    background: var(--color-accent);
    width: 2em; /* Set the width of the circle */
    height: 2em; /* Set the height to be equal to width */
    border-radius: 50%; /* Makes it a perfect circle */
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center; /* Centers SVG horizontally */
    align-items: center; /* Centers SVG vertically */
    z-index: 1000; /* Ensure the button stays above other content */

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}


/* Center the SVG inside the button */
.darkModeSVG{
    width: 1.5em; /* Adjust size */
    filter: invert(1) brightness(100%);
    height: auto;
    object-fit: contain;
}

body.dark .darkModeSVG, body.dark .hideSVG, body.dark .showSVG {
    filter: invert(0); /* Invert color for dark mode */
}



/* Remove number input spinner in all browsers */
.input-no-spinner::-webkit-inner-spin-button,
.input-no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-no-spinner {
    -moz-appearance: textfield; /* Hide arrows in Firefox */
    appearance: textfield; /* Hide arrows in Chrome */
}


/* Buttons */
/* Style for disabled answer buttons */



.list-group-item {
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}
.start-button{
    background-color: var(--color-accent);
    color: var(--color-primary);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.start-button:hover{
    background-color: var(--color-accent);
    color: var(--color-primary);
    filter: hue-rotate(50deg);
}

/* Timer */

.showSVG, .hideSVG {
    height: auto;
    width: 2.2em;
    color: var(--tertiary-color);
}

body.dark .hideSVG, body.dark .showSVG {
    filter: invert(1); /* Invert color for dark mode */
}

.badge{
    background-color: var(--color-accent);
    color: var(--color-primary);
    font-size: 1em;
}

#timer-controls, .grileselect, #materie-filter {
    border: 0.2em solid var(--color-tertiary);
    padding: 1em;
    border-radius: 1em;
}

#timer-display {
    font-weight: bold;
}

#time-up-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-accent);
    color: var(--color-primary);
    font-weight: 700;
    font-size: 2em;
    padding: 20px;
    border-radius: .8em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.694);
    z-index: 1000;
    text-align: center;
}

#time-up-popup button {
    margin: .2em;
}

#continue-quiz{
    background-color: grey;
    color: white;
    transition: all 0.3s ease-in-out;
    border: none;
}

#countdown-settings {
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#countdown-minutes, #question-count{
    max-width: 3em;
}



/* Headings styling */

h1, h2, h3 {
    font-weight: 700;
}


li{
    background-color: #cfcfcf3f;
    border-radius: 4px;
}
hr{
    border: 2px solid #000000;
    border-radius: 2px;
}


/* Start screen */

.toast{
    width: 90%;
}
/* #toastmessage{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */

.titlestartscreen{
    color: var(--color-accent);
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}
.start-screen-options{
    max-width: 16.3em;
}
.start-screen-details{
    max-width: 38em;
}
.grileselecttext, .filtrutitlu {
    color: var(--color-accent);
    font-weight: 600;
}

.lawimage{
    max-width: 10em;
    height: auto;
}

/* Quiz screen */
#quiz-screen{
    padding-left: 1em;
    padding-right: 1em;
}
button.disabled-answer {
    pointer-events: none; /* Disable interaction (no click) */
    opacity: 1; /* Keep the original opacity (not greyed out) */
}

.answer-button, .restart-button, #submit-button, #skip-button, #next-button, #see-results-button, #continue-quiz{
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: .8em;
}

#submit-button, #skip-button, #next-button, #see-results-button, #continue-quiz, .restart-button{
    font-weight: 500;
}

#question-counter{
    margin-bottom: 0px;
}
.selected {
    background-color: rgb(255, 255, 229);
    font-weight: bold;
}
.correct-border {
    border: 3px solid rgb(82, 193, 82) !important;
    border-radius: .8em;
}
.incorrect {
    border: 3px solid rgb(242, 99, 99) !important;
    border-radius: .8em;
}

.form-control{
    width: 100px;
}

/* Summary screen */

.scor{
    color: var(--color-tertiary);
}
#quiz-summary ul {
    list-style-type: none;
    padding-left: 0;
}
#summary-container {
    margin-top: 2em;
    
}

#quiz-summary li {
    list-style-type: none; /* Remove the marker */
    margin: 0.5em;
    padding: .5em;
}
.summary-item {
    text-align: left; /* Align text to the left */
    margin-left: 20px; /* Optional: Adds space on the left if needed */
}

.result-title {
    font-size: 2.5em;
    font-weight: 600;
}
.gifpisica{
    border-radius: 4px;
}
.accordion-item{
    background-color: transparent;
    border: none;
}
.accordion-button{
    background-color: hsl(260, 80%, 80%);
    color: var(--color-primary);
    font-weight: 600; 
    transform: scale(1);
    transform-origin: top;
    transition: all 0.3s ease-in-out;
}

 .accordion-button.collapsed{
    background-color: hsl(260, 80%, 80%);
    color: hsl(200, 50%, 10%);
    transform: scale(1);
    transform-origin: top;
    transition: all 0.3s ease-in-out;
    max-width: 23em;
    font-weight: 600; 
}


.accordion-button:not(.collapsed){
    background-color: hsl(260, 80%, 80%);
    color: hsl(200, 50%, 10%);
    font-weight: 600; 
    transform: scale(1);
    transform-origin: top;
    transition: all 0.2s ease-in-out;

}

.accordion-body{
    background-color: hsl(260, 80%, 80%);
    filter: brightness(120%) saturate(60%);
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

.accordion-collapse {
    transform: scale(0);
    transform-origin: top;
    transition: all 0.2s ease-in-out;
}

/* When the accordion is open */
.accordion-collapse.show {
    transform: scale(1);
    transform-origin: top;
    transition: all 0.3s ease-in-out;
}












